<tr>
  <td>
    <p class="show-answer"><%= word.name %></p>
    <ul class="hidden_list_answer choose-success">
      <% word.answers.each do |answer| %>
        <li>
          <%= answer.content %> | <%= answer.is_correct %>
        </li>
      <% end %>
    </ul>
  </td>
  <td>
    <%= link_to t("words.delete"), "#", method: :delete,
      data: {confirm: t("words.confirm_delete")},
      class: "btn waves-effect waves-light red lighten-1" %>
  </td>
  <td>
    <%= link_to t("words.edit"), edit_admin_category_word_path(@category, word),
      class: "btn waves-effect waves-light green lighten-1" %>
  </td>
</tr>
