<hr>
<table class = "table table-striped">
  <thead>
    <tr>
      <h2><%= link_to t("course.create_new_category"), new_admin_category_path %></h2>
    </tr>
    </br>
    <tr>
      <th><%= t "course.name" %></th>
      <th><%= t "course.description" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <li><%= link_to t("course.details"), admin_category_path(category) %></li>
        </td>
        <td><li><%= link_to t("course.edit"), "#" %></li></td>
        <td><li><%= link_to t("Course.edit"), "#" %></li></td>
        <td>
          <li>
            <%= link_to t("Course.delete"), admin_category_path(category),
              method: :delete, data:
              {confirm: t("flash_message.delete_category")} %>
          </li>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
