<hr>
<table class = "table table-striped">
  <thead class ="thead">
    <tr>
      <h2><%= link_to t("course.create_new_category"), new_admin_category_path %></h2>
    </tr>
    </br>
    <tr>
      <th><%= t "course.name" %></th>
      <th><%= t "course.description" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <%= link_to t("course.details"), admin_category_path(category),
            class: "btn btn-sm btn-info" %>
        </td>
        <td>
          <%= link_to t("course.edit"), edit_admin_category_path(category),
            class: "btn btn-sm btn-primary" %>
        </td>
        <td>
          <%= link_to t("Course.delete"), admin_category_path(category),
            method: :delete, data:
            {confirm: t("flash_message.delete_category")}, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
