<hr>
<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= t "Course.name" %></th>
      <th><%= t "Course.description" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <li><%= link_to t("Course.details"), admin_category_path(category) %></li>
        </td>
        <td><li><%= link_to t("Course.edit"), "#" %></li></td>
        <td><li><%= link_to t("Course.delete"), "#" %></li></td>
      </tr>
    <% end %>
  </tbody>
</table>
