<div class="row">
  <div class="col s5">
    <div class="card-panel teal">
      <span class="white-text">
        <h4>
          <%= @category.name %>
        </h4>
      </span>
    </div>
    <div class="card-panel teal">
      <span class="white-text">
        <h6>
          <%= @category.description %>
        </h6>
      </span>
    </div>
    <div class="card-panel">
      <div class="login">
        <%= link_to t("words.create_word"), new_admin_category_word_path(@category),
          class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <table class="table table-striped">
      <% @words.each do |word| %>
        <tr>
          <td>
            <%= word.name %>
          </td>
          <td>
            <%= link_to t("index_pages.delete"), admin_category_word_path(@category, word),
              method: :delete, data: {confirm: t("index_pages.you_sure")},
              class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col s7">
    <div class="card-panel">
      <div class="login">
        </br>
        </br>
        <h2><%= t "words.list_word" %></h2>
        <div class="row">
          <div class="col s12">
            <%= render "admin/words/index_word" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
